.building {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.floors {
  width: 60px;
  display: flex;
  flex-direction: column;
}

.floor {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.elevators {
  display: flex;
  gap: 16px;
}

.elevator-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #444;
}

.elevator-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.elevator-row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.controls {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.shaft {
  border: 2px solid #444;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.target, .current {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
  border-bottom: 1px solid #444;
  background: #111;
  color: #fff;
}

.cell {
  height: 60px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.cab {
  position: relative;
  width: 100%;
  height: 100%;
  background: #222;
  overflow: hidden;
  --progress: 0;
}

.floor-label {
  position: absolute;
  /* left: 4px;
  top: 4px; */
  font-size: 12px;
  font-weight: bold;
  color: #666;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #777;
  transition: transform 200ms linear;
}

.door.left {
  left: 0;
  transform: translateX(calc(-1 * var(--progress) * 1%));
}

.door.right {
  right: 0;
  transform: translateX(calc(var(--progress) * 1%));
}

